@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../img/rails.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}