@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
}
.container{
	padding: 30px;
}
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url(../img/rails.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#aboutMe {
  	height: 100vh;
  	min-height: 500px;
  	background-image: url(../img/power.jpg);
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	padding: 30px;
}

#projects {
  	height: 100vh;
  	min-height: 500px;
  	background-image: url(../img/hongkong.jpg);
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

#projects {
  	height: 100vh;
  	min-height: 500px;
  	background-image: url(../img/hongkong.jpg);
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

#resume {
  	height: 100vh;
  	min-height: 500px;
  	background-image: url(../img/sydney.jpg);
  	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

#aboutMeContainer{
	background:rgba(1,1,1,0.7);
}
#projectsContainer{}
#resumeContainer{}

#aboutMeName{
	text-align:left;
	font-size:3vw;
}

#aboutMeP1{
	font-size:1vw;
	margin-top: 20px;
  	max-width: 450px;
}
#aboutMeP2, #aboutMeP3{
	font-size:1vw;
  	max-width: 350px;
}

.aboutMePClass{
	text-align: justify;
 	text-justify: inter-word;
	margin-left: 10px;
}

.content{
	height: 95%;	
}

.bottomButton{
	text-align:center;
	height:35px;
	bottom: 30px;
}

.btn{
	min-width: 80px;
}

section {
  height: 100vh;
  min-height: 500px;
}

.col-4{
	width: 30%;
}

.col3.p{
	text-align:center;
}

html body section#projects div#projectsContainer.container.h-100 div.content div.row div.col-4.text-center p.text-dark.bg-light{
	padding: 3px;
	font-size: 11px;
}

.knowledgeImgs{
	height: 40px;
}

.rowLogos{
	margin-top: 50px;
}

.iconBackground{
	width: 17vh;
	height: 100%;
	padding: 10px;
	background:rgba(255,255,255,0.1);
	margin:auto;
}

.iconBackground span{
	font-weight: bold;
	font-size: 18px;
}