<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-148041538-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-148041538-1');
		</script>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="css/style.css" rel="stylesheet" />
		<link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
		<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
		<script src="webjars/jquery/3.0.0/jquery.min.js" ></script>
		<link rel="shortcut icon" type="image/x-icon" href="img/icoNav.ico" />
		<title>Romain DALICHAMP</title>
	</head>
	<body>
		<header id="home" class="masthead backgrounds"> 
			<div class="container h-100">
				<div class="content">
					<div class="col-12 text-center">
						<h1 class="display-4 text-white font-weight-bold">Welcome ! I am Romain</h1>
						<p class="display-5 text-white">Software Engineer & Developer</p>
						<p>
							<button type="button" id="mailto" class="btn btn-light buttonOut">romain.dalichamp@free.fr</button>
						</p>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="col-12 text-center">
						<button type="button" id="more" class="btn btn-light buttonAnchor">About Me</button>
					</div>
				</div>
			</div>
		</header>
		<section id="aboutMe" class="backgrounds">
			<div class="container darkContainer">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<div class="row">
								<div class="col-6 text-center">
									<p id="aboutMeName" class="display-4 text-white">Romain DALICHAMP</p>
									<p id="aboutMeP1" class="aboutMePClass display-5 text-white">Curious and determined,	I like to invest myself thoroughly.</p>
									<p id="aboutMeP2" class="aboutMePClass display-5 text-white">The <strong>software development profession</strong> is a way to realize myself professionally allowing me to canalize my energy in knowledge, projects and efficiency. </p>
									<p id="aboutMeP3" class="aboutMePClass display-5 text-white">After <strong>three years traveling</strong> and working <strong>around the world</strong>, I am seeking a challenging position as <strong>Java software developer in Canada</strong>.</p>
								</div>
								<div class="col-5 text-right">
									<div class="row">
										<div class="col">
											<div class="text-center mt-3 aboutMeCode" style=" float: right;">
												<a href="https://github.com/fukakai" target="_blank" rel="noopener noreferrer">
													<img alt="image" src="img/githubWhite4.png"/>
												</a>
												<p class="text-white">Find me<br/>on GitHub</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="text-right mt-3 aboutMeCode" style=" float: right;" id="aboutMeCodeHackerrank">
												<a href="https://www.hackerrank.com/romain_dalichamp" target="_blank" rel="noopener noreferrer">
													<img alt="image" src="img/hackerrank.svg"/>
												</a>
												<p class="text-white">HackerRank</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="text-right mt-3 aboutMeCode" style=" float: right;">
												<a href="https://sonarcloud.io/organizations/romain-dalichamp" target="_blank" rel="noopener noreferrer">
													<img alt="image" src="img/sonarcloudqube.png"/>
												</a>
												<p class="text-white">SonarCloud</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row rowLogos">
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://docs.oracle.com/javase/8/docs/api/" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/java8.svg"/>
										</a>
									</div> 
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://docs.spring.io/spring/docs/current/spring-framework-reference/index.html" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/springframework.svg"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.oracle.com/database/technologies/appdev/plsql.html" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/plsql.svg"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.eclipse.org/" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/eclipse.png"/>
										</a>
									</div>
								</div>
							</div>
							<div class="row rowLogos">
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://spring.io/projects/spring-boot" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/springBoot.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.thymeleaf.org/" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/thymeleaf.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.scrum.org" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/scrum.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://git-scm.com/" target="_blank" rel="noopener noreferrer">
											<img alt="image" class="knowledgeImgs" src="img/git.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toProjects" class="btn btn-light buttonAnchor">Projects</button>
				</div>
			</div>
		</section>
		<section id="projects" class="backgrounds">
			<div id="projectsContainer" class="container darkContainer">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="display-4 text-white font-weight-bold">Projects</h1>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-4 text-center">
							<a href="http://cocora-aventuras.com" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/cocora.jpg"  class="img-thumbnail" title="PHP - Website Hosting: Database, Domain name, Theme and modules installation, configuration and customization, Administrators formation in view of full autonomy , tutorials writing (best practices), Search Engine Optimisation (SEO), Developments: new hooks insertion, unique banner, template design modifications"/>
							</a>
							<p class="text-light" >Prestashop - SEO - Mentoring - PHP Dev.</p>
						</div>
						<div class="col-4 text-center">
							<a href="http://romain.dalichamp.fr/dissertation" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/ssdpm.jpg"  class="img-thumbnail"/>
							</a>
							<p class="text-light">
								PHP - MVC Business Framework
								<br/>
								<a href="http://romain.dalichamp.fr/dissertation" target="_blank" rel="noopener noreferrer">Dissertation</a> - 
								<a href="http://romain.dalichamp.fr/dissertation_presentation" target="_blank" rel="noopener noreferrer">Presentation</a>
							</p>
						</div>
						<div class="col-4 text-center">
							<a href="https://github.com/fukakai/Microservices-with-Spring-Boot" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/springeureka.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-light" >Microservices-SpringBoot-Rest-Eureka-Zuul </p>
						</div>
					</div>
					<div class="row">
						<div class="col-4 text-center">
							<a href="http://romain.dalichamp.fr/blog" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/blogSciences.jpg"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-light" >Wordpress, Tech & Sc. Vulgarisation</p>
						</div>
						<div class="col-4 text-center">
							<a href="http://romain.dalichamp.fr" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/romainWebsite.jpg"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-light" >SpringBoot MVC - Thymeleaf - Bootstrap</p>
						</div>
						<div class="col-4 text-center">
							<a href="http:/www.marches-securises.fr" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/blogTravel.jpg"  class="img-thumbnail" title="3 Years World Tour Adventure"/>
							</a>
							<p class="text-light" >
								<a href="http://romain.dalichamp.fr/instagram" target="_blank" rel="noopener noreferrer">Instagram</a> - 
								<a href="http://www.facebook.com/mylimbictrip" target="_blank" rel="noopener noreferrer">Facebook</a> - 
								<a href="http://romain.dalichamp.fr/mylimbictrip" target="_blank" rel="noopener noreferrer">Blog</a> - 
								<a href="http://romain.dalichamp.fr/youtube" target="_blank" rel="noopener noreferrer">Youtube</a>
							</p>
						</div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toMoocs" class="btn btn-light buttonAnchor">Moocs</button>
				</div>
			</div>
        </section>
        <section id="moocs" class="backgrounds">
			<div id="projectsContainer" class="container darkContainer">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="display-4 text-white font-weight-bold">MOOCs</h1>
							<h5 class="display-6 text-white">Massive Online Open Courses</h5>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-4 text-center">
							<a href="https://uwaterloo.ca/open/find-open-materials" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/uwaterloo.png"  class="img-thumbnail" title=""/>
							</a>
                            <p class="text-light" >Open uWaterloo courseware - Language Independant Lesson</p>
						</div>
						<div class="col-4 text-center">
							<a href="https://uwaterloo.ca/open/find-open-materials" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/uwaterloo.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-light" >Open uWaterloo courseware - Web Basics</p>
						</div>
						<div class="col-4 text-center">
							<a href="https://uwaterloo.ca/open/find-open-materials" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/uwaterloo.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-light" >Open uWaterloo courseware - Web Programming</p>
						</div>
					</div>
					<div class="row"></div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toResume" class="btn btn-light buttonAnchor">Resume</button>
				</div>
			</div>
		</section>
		<section id="resume" class="backgrounds">
			<div id="resumeContainer" class="container darkContainer">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="display-4 text-white font-weight-bold">Resume</h1>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-12 text-center">
							<a href="http://romain.dalichamp.fr/linkedin" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/linkedin.png" class="bg-white rounded border border-light"/>
							</a>
							<a href="https://resumes.indeed.com/resume/1b64e5f51d7cc62f" target="_blank" rel="noopener noreferrer">
								<img alt="image" src="img/indeed.png" height="40"/>
							</a>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-6">
							<button type="button" id="cvButton2" class="btn btn-success buttonOut float-right">C.V.</button>
						</div>
						<div class="col-6">
							<button type="button" id="resumeButton2" class="btn btn-success buttonOut">Resume</button>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-6">
							<button type="button" id=recommandationfr class="btn btn-success buttonOut float-right">Lettre de Recommandation</button>
						</div>
						<div class="col-6">
							<button type="button" id="recommandationen" class="btn btn-success buttonOut">Recommandation Letter</button>
						</div>
					</div>
					<div class="row" style="padding-top: 40px;">
						<div class="col-6">
						</div>
						<div class="col-6">
							<button type="button" id="labourAustralia" class="btn btn-success buttonOut">Labour Australia</button>
						</div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100" style="padding-top: 20px;">
					<button type="button" id="toHome" class="btn btn-light buttonAnchor">Home</button>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="js/homeActions.js"></script>
	</body>
</html>