<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="css/theme.css" rel="stylesheet" />
		<link href="webjars/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
		<script src="webjars/bootstrap/4.0.0/js/bootstrap.min.js" ></script>
		<script src="webjars/jquery/3.0.0/jquery.min.js" ></script>
		<link rel="shortcut icon" type="image/x-icon" href="img/icoNav.ico" />
		<title>Romain DALICHAMP</title>
	</head>
	<body>
		<header id="home" class="masthead backgrounds"> 
			<div class="container h-100">
				<div class="content">
					<div class="col-12 text-center">
						<h1 class="display-4 text-white font-weight-bold">Hey ! I am Romain,</h1>
						<p class="display-5 text-white">Software Designer and Developer</p>
						<p>
							<button type="button" id="mailto" class="btn btn-light buttonOut">Contact me</button>
						</p>
						<p>
							<button type="button" id="cvButton" class="btn btn-outline-light buttonOut">CV</button>
							<button type="button" id="resumeButton" class="btn btn-outline-light buttonOut">Resume</button>
						</p>
					</div>
				</div>
				<div class="row align-items-end">
					<div class="col-12 text-center">
						<button type="button" id="more" class="btn btn-light buttonAnchor">More<br/></button>
					</div>
				</div>
			</div>
		</header>
		<section id="aboutMe" class="backgrounds">
			<div id="aboutMeContainer" class="container h-100">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<div class="row">
								<div class="col-6 text-center">
									<p id="aboutMeName" class="display-4 text-white">Romain DALICHAMP</p>
									<p id="aboutMeP1" class="aboutMePClass display-5 text-white">Curious and determined,	I like to invest myself thoroughly.</p>
									<p id="aboutMeP2" class="aboutMePClass display-5 text-white">The <b>software development profession</b> is a way to realize myself professionally allowing me to canalize my energy in knowledge, projects and efficiency. </p>
									<p id="aboutMeP3" class="aboutMePClass display-5 text-white">After <b>three years traveling</b> and working <b>around the world</b>, I am seeking a challenging position in <b>Java software development</b> or project management in <b>Canada</b>.</p>
								</div>
								<div class="col-5 text-right">
									<div class="row">
										<div class="col">
											<div class="text-center mt-3" style=" float: right;">
												<a href="https://github.com/fukakai?tab=repositories">
													<img src="img/githubWhite4.png" height="80"/>
												</a>
												<p class="text-white">Find me<br/>on GitHub</p>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="text-right mt-3" style=" float: right;">
												<a href="https://www.hackerrank.com/romain_dalichamp">
													<img src="img/hackerrank.png" height="130"/>
												<p class="text-white">HackerRank</p>
												</a>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="text-right mt-3" style=" float: right;">
												<a href="https://sonarcloud.io/organizations/fukakai/projects">
													<img src="img/sonarqube.png" height="50"/>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row rowLogos">
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://php.net/">
											<img class="knowledgeImgs" src="img/php.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.oracle.com/database/technologies/appdev/sql-developer.html">
											<img class="knowledgeImgs" src="img/sql.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://spring.io/projects/spring-boot">
											<img class="knowledgeImgs" src="img/springBoot.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.thymeleaf.org/">
											<img class="knowledgeImgs" src="img/thymeleaf.png"/>
										</a>
									</div>
								</div>
							</div>
							<div class="row rowLogos">
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://www.eclipse.org/">
											<img class="knowledgeImgs" src="img/eclipse.png"/>
										</a>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<span class="text-white align-middle">
											REST
										</span>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<span class="text-white align-middle">
											MVC
										</span>
									</div>
								</div>
								<div class="col-3 text-center">
									<div class="rounded iconBackground">
										<a href="https://git-scm.com/">
											<img class="knowledgeImgs" src="img/git.png"/>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toProjects" class="btn btn-light buttonAnchor">Projects</button>
				</div>
			</div>
		</section>
		<section id="projects" class="backgrounds">
			<div id="projectsContainer" class="container h-100">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="display-4 text-white font-weight-bold">Projects</h1>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-4 text-center">
							<a href="http://cocora-aventuras.com" target="_blank">
								<img src="img/cocora.jpg"  class="img-thumbnail" title="PHP - Website Hosting: Database, Domain name, Theme and modules installation, configuration and customization, Administrators formation in view of full autonomy , tutorials writing (best practices), Search Engine Optimisation (SEO), Developments: new hooks insertion, unique banner, template design modifications"/>
							</a>
							<p class="text-dark bg-light" >Prestashop - SEO - Mentoring - PHP Dev.</p>
						</div>
						<div class="col-4 text-center">
							<a href="http://romain.dalichamp.fr/dissertation" target="_blank">
								<img src="img/ssdpm.jpg"  class="img-thumbnail"/>
							</a>
							<p class="text-dark bg-light">
								PHP - Framework design & dev. from scratch
								<br/>
								<a href="http://romain.dalichamp.fr/dissertation">Dissertation</a> - 
								<a href="http://romain.dalichamp.fr/dissertation_presentation">Presentation</a>
							</p>
						</div>
						<div class="col-4 text-center">
							<a href="https://github.com/fukakai/Microservices-with-Spring-Boot" target="_blank">
								<img src="img/springeureka.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >Microservices-SpringBoot-Rest-Eureka-Zuul </p>
						</div>
					</div>
					<div class="row">
						<div class="col-4 text-center">
							<a href="http://romain.dalichamp.fr/blog" target="_blank">
								<img src="img/blogSciences.jpg"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >Wordpress, Tech & Sc. Vulgarisation</p>
						</div>
						<div class="col-4 text-center">
							<a href="http://romain.dalichamp.fr" target="_blank">
								<img src="img/romainWebsite.jpg"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >SpringBoot MVC - Thymeleaf - Bootstrap</p>
						</div>
						<div class="col-4 text-center">
							<a href="http:/www.marches-securises.fr" target="_blank">
								<img src="img/blogTravel.jpg"  class="img-thumbnail" title="3 Years World Tour Adventure"/>
							</a>
							<p class="text-dark bg-light" >
								<a href="http://romain.dalichamp.fr/instagram">Instagram</a> - 
								<a href="http://www.facebook.com/mylimbictrip">Facebook</a> - 
								<a href="http://romain.dalichamp.fr/mylimbictrip">Blog</a> - 
								<a href="http://romain.dalichamp.fr/youtube">Youtube</a>
							</p>
						</div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toMoocs" class="btn btn-light buttonAnchor">Moocs</button>
				</div>
			</div>
        </section>
        <section id="moocs" class="backgrounds">
			<div id="projectsContainer" class="container h-100">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="display-4 text-white font-weight-bold">MOOCs</h1>
							<h5 class="display-6 text-white">Massive Online Open Courses</h5>
						</div>
					</div>
					<div class="row" style="margin-top: 20px;">
						<div class="col-4 text-center">
							<a href="https://uwaterloo.ca/open/find-open-materials" target="_blank">
								<img src="img/uwaterloo.png"  class="img-thumbnail" title=""/>
							</a>
                            <p class="text-dark bg-light" >Open uWaterloo courseware - Language Independant Lesson</p>
						</div>
						<div class="col-4 text-center">
							<a href="https://uwaterloo.ca/open/find-open-materials" target="_blank">
								<img src="img/uwaterloo.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >Open uWaterloo courseware - Web Basics</p>
						</div>
						<div class="col-4 text-center">
							<a href="https://uwaterloo.ca/open/find-open-materials" target="_blank">
								<img src="img/uwaterloo.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >Open uWaterloo courseware - Web Programming</p>
						</div>
					</div>
					<div class="row">
                            <!--
						<div class="col-4 text-center">
                            <a href="https://www.edx.org/course/software-construction-data-abstraction-ubcx-softconst1x" target="_blank">
								<img src="img/ubc.jpg"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >UBCx - Software Construction: Data Abstraction</p>
						</div>
						<div class="col-4 text-center">
                            <a href="https://www.edx.org/course/software-construction-data-abstraction-ubcx-softconst2x" target="_blank">
								<img src="img/ubc.jpg"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >UBCx - Object-Oriented Design</p>
						</div>
						<div class="col-4 text-center">
                            <a href="https://www.edx.org/course/advanced-software-construction-java-mitx-6-005-2x" target="_blank">
								<img src="img/mit.png"  class="img-thumbnail" title=""/>
							</a>
							<p class="text-dark bg-light" >MITx - Advanced Software Construction in Java</p>
						</div>-->
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toResume" class="btn btn-light buttonAnchor">Resume</button>
				</div>
			</div>
		</section>
		<section id="resume" class="background">
			<div id="resumeContainer" class="container h-100">
				<div class="content">
					<div class="row">
						<div class="col-12 text-center">
							<h1 class="display-4 text-white font-weight-bold">Resume</h1>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-12 text-center">
							<a href="http://romain.dalichamp.fr/linkedin">
								<img src="img/linkedin.png" class="bg-white rounded border border-light"/>
							</a>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-12 text-center">
						<button type="button" id="cvButton2" class="btn btn-success buttonOut">CV</button>
						<button type="button" id="resumeButton2" class="btn btn-success buttonOut">Resume</button>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-12 text-center">
						<button type="button" id=recommandationfr class="btn btn-success buttonOut">Lettre de Recommandation</button>
						<button type="button" id="recommandationen" class="btn btn-success buttonOut">Recommandation Letter</button>
						</div>
					</div>
					<div class="row" style="margin-top: 40px;">
						<div class="col-12 text-center">
						<button type="button" id="labourAustralia" class="btn btn-success buttonOut">Labour Australia</button>
						</div>
					</div>
				</div>
   				<div class="bottomButton margin-bottom w-100">
					<button type="button" id="toHome" class="btn btn-light buttonAnchor">Home</button>
				</div>
			</div>
		</section>
		<script type="text/javascript" src="js/homeActions.js"></script>
	</body>
</html>